.nav-item {
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
    margin: 3px;
}

#topoHead{
    margin-left: 10px;
    width: 33%;
}

#logoHead {
    color: #ff5a60;
    font-weight: bold;
}

#btCadastro {
    transition: all 0.2s ease-in-out;
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
    color: gray;
}

#btCadastro:hover {
    background: #ff5a60;
    color: #ffffff;
}

.nav-item:hover {
    background: #f0f0f0;
    color: #ffffff;
}

#carousel {
    width: 90%;
    height: 300px;
}

#row-carousel {
    align-items: center;
    display: flex;
    justify-content: center;
}

#imagens-carousel {
    height: auto;
}

.descricaoAnuncio{
    width: 70%;
    color: rgb(29, 29, 29);
    font-weight: bold;
    background-color: rgba(128,128,128,0.5);
    border-radius: 20px;
}

.precoAnuncio {
    width: 20%;
    color: rgb(29, 29, 29);
    font-weight: bold;
    background-color: rgba(128,128,128,0.5);
    border-radius: 20px;
}

#botaoProcurar {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    border: none;
    background-color: rgba(128,128,128,0.5);
    color: gray;
    font-weight: bold;
}

#botaoProcurar:hover {
    background: #ff5a60;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
  }

.itemCard {
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 380px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 10px;
}

.itemCard:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.card-image {
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-type {
    margin-top: 10px;
}

#filtro {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botaoFiltro {
    margin-left: 20px;
    margin-right: 20px;
}

#botaoDofiltro {
    text-align: center;
    border: gray solid 1px;
    font-weight: bold;
    border-radius: 20px;
    color: rgb(110, 110, 110);
}

#botaoDoFiltro:hover :focus {
    background-color: rgb(202, 202, 202);
    color: gray;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(231, 231, 231)
}